#banner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  z-index: -1;
}
.title {
  font-size: 42px;
  font-family: "Comic Sans MS";
  text-align: center;
}
.bodytext {
  text-align: center;
  font-size: 18px;
}
body {
 background-color: #e60000;
}
